header #banner {
	position: fixed;
	top: 0;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

main {
	display: table;
	table-layout: fixed;
	position: relative;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

aside#region_1 {
	width: 231px;
	min-width: 231px;
	max-width: 231px;
	display: table-cell;
	vertical-align: top;
	padding: 65px 7px 0px 7px;
}

section {
	width: 100%;
	display: block;
	vertical-align: top;
	padding: 65px 7px 200px 7px;
}

#rpost-data > div.section-title-wrapper {
	display: none;
}

.menu-item-active {
	background-color: #E6E6E6;
}

.menu-item-disabled {
	background-color: #E6E6E6;
	font-weight: lighter;
}

.menu-item-flag {
	color: #D8FB50;
	font-weight: bold;
}

div#seqtabs {
	font-size: 20px;
	line-height: 32px;
}

#region_2 .ui-widget-content {
	background: #ffffff;
/*
	font-size: 20px;
	line-height: 32px;
*/
}

#region_2 .ui-widget-header {
	background: #ffffff;
/*
	font-size: 18px;
*/
}

.sequence-buttons {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.sequence-button {
	border: 1px solid #FBD850;
}

.sequence-button[disabled="disabled"] {
	opacity: 0.5;
}

.sequence-button-previous {
	border-radius: 15px 0 0 15px ;
}

.sequence-button-next {
	border-radius: 0 15px 15px 0 ;
}

